p {
  font-family: Lato;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: aquamarine;
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  color: aquamarine;
  text-decoration: none;
}

.images {
  max-width: 100px;
  max-height: 100px;
}

.body {
  background: #eee;
  margin: 10px;
}

.title {
  margin: 20px;
  text-align: center;
  align-items: center;
  justify-items: center;
}
