<body class="container">

	<h2 class="title">Comprar Produto</h2>

	<div class="card">
		<p><img class="images card-img-top" src={{produto.imagem}}></p>
    <h4>{{produto.nome}}</h4>
    <p>{{produto.descricao}}</p>
    <b class="price">R$ {{produto.preco}}</b>
    <p>{{produto.estoque}} restantes</p>
  </div>

  <h3 class="title">Dados</h3>
  <form>
    <div class="form-group">
      <label for="inputNome">Nome Completo</label>
      <input type="text" class="form-control" id="nome" name="nome" #n placeholder="Ex.: Gabriela Nunes" required>
    </div>

    <div class="form-group">
      <label for="inputCPF">CPF</label>
      <input type="text" class="form-control" id="cpf" name="cpf" #cpf placeholder="Ex.: 111.111.111-22" required>
    </div>

    <div class="form-group">
      <label for="inputEstado">Estado</label>
      <input type="text" class="form-control" id="estado" name="estado" #e placeholder="Ex.: Rio de Janeiro" required>
    </div>

    <div class="form-group">
      <label for="inputCidade">Cidade</label>
      <input type="text" class="form-control" id="cidade" name="cidade" #c placeholder="Ex.: Rio de Janeiro" required>
    </div>

    <div class="form-group">
      <label for="inputCEP">CEP</label>
      <input type="text" class="form-control" id="CEP" name="CEP" #cep placeholder="Ex.: 11222-000" required>
    </div>

    <div class="form-group">
      <label for="inputEndereco">Endereço</label>
      <input type="text" class="form-control" id="endereco" name="endereco" #end placeholder="Ex.: Av. das Acácias, 241" required>
    </div>

    <input type="button" class="btn btn-primary" value="Comprar" (click)="comprar(produto.id)" />
  </form>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
</body>